body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	background-color: pink;
	width: 50vw;
	padding: 50px 0px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form * {
	margin-top: 5px;
}
button {
	width: 50px;
	background-color: gray;
}
#block {
	width: 50vw;
	margin-top: 30px;
	color: white;
	background-color: rgb(40,45,48);
	text-align: center;
}