html,body {
	margin: 0;
	padding: 0;
	background-color: rgb(40,45,48);
	display: flex;
	justify-content: center;
}
form {
	width: 36.5vw;
	padding: 50px;
	border: 1px solid rgba(122,125,130, 0.9);
	border-radius: 5px;
	position: absolute;
	top: 20%;
}
form p{
	color: white;
	background-color: rgba(122,125,130, 0.9);
	text-align: center;
	padding: 3px 10px;
	border-radius: 5px;
	font-size: 40px;
}
form label {
	color: white;
	background-color: rgba(122,125,130, 0.9);
	padding: 11px;
	border-radius: 5px;
}
form input {
	padding: 10px 50px 10px 10px;
}
form button {
	color: white;
	background-color: #f48847;
	padding: 10px 25px;
	border: 1px solid #f48847;
}
form label, input, button {
	margin-top: 10px;
}
.list {
	width: 36.5vw;
	border: 1px solid rgba(122,125,130, 0.9);
	border-radius: 5px;
	position: relative;
	top: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.list p {
	color: white;
	background-color:  rgba(122,125,130, 0.9);
	padding: 5px 12vw;
	border-radius: 5px;
	font-weight: bold;
	font-size: 30px;
	margin-top: 30px;
}
.list li {
	color: white;
	font-size: 30px;
}